*.db
*.udb
*.out
*.pyc
*.jsonl
epo*
*.all.txt
*index*.pkl
use.processed.code.pkl
allData/
inverted_index.h5
train.apiseq.h5
train.desc.h5
train.methname.h5
train.tokens.h5
use.apiseq.h5
use.methname.h5
use.tokens.h5
use.rawcode.txt
use.codevecs.normalized.h5
